@font-face {
    font-family: 'Aller';
    url('assets/fonts/Aller/AllerDisplay.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

.mbr-brand__name a {
  font-size: 24px;
  font-family: 'Aller', sans-serif;
}

.mbr-contacts {
  color: #fff;
}

#msg-box5-46 .mbr-header__text {
    color: #000;
}

#msg-box5-46 .mbr-article {
    color: #000;
}

.mbr-section--full-height {
    height: 120vh;
}
